@charset "UTF-8";
/* 默认样式 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-position: inside;
  list-style-type: none; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

body {
  height: 100vh;
  height: 100vh; }

.swiper-container {
  width: 100%;
  height: 100%;
  background: no-repeat url("/img/backgroundImgx.jpg");
  background-size: cover; }

.swiper-scrollbar-drag {
  background: #fff; }

.wrapper1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper1 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper1 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper1 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper1 .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper1 .section .section1 {
      height: 30%;
      font-family: AdobeHeitiStd-Regular;
      font-size: 110px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .wrapper1 .section .section2 {
      height: 50%;
      border: 3px solid red;
      position: relative;
      top: -5vh;
      padding: 60px 0;
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      letter-spacing: -1px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .wrapper1 .section .section2 div {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper1 .section .section2 div span {
          width: 80%;
          padding: 15px 0;
          border-radius: 107px;
          background: rgba(0, 0, 0, 0.3);
          text-align: center; }
    .wrapper1 .section .section3 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper1 .section .section3 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper1 .section .section3 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper1 .section .section3 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper1 .section .section3 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }
        .wrapper1 .section .section3 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper1 .section .section3 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }

.wrapper2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper2 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper2 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper2 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper2 .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper2 .section .section1 {
      height: 25%;
      display: flex;
      flex-direction: column; }
      .wrapper2 .section .section1 .navInfo {
        height: 40%;
        font-family: ZhenyanGB-Regular;
        font-size: 58px;
        color: #fff;
        display: flex;
        align-items: center; }
        .wrapper2 .section .section1 .navInfo span:nth-child(1) {
          margin: 0 20px; }
          .wrapper2 .section .section1 .navInfo span:nth-child(1) img {
            height: 46px; }
      .wrapper2 .section .section1 .detail {
        height: 60%;
        font-family: PingFang-SC-Regular;
        font-size: 38px;
        color: #fff;
        display: flex;
        align-items: center; }
        .wrapper2 .section .section1 .detail span {
          padding: 0 20px;
          text-align: center;
          line-height: 1.6; }
    .wrapper2 .section .section2 {
      height: 45%;
      padding-left: 3vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .wrapper2 .section .section2 div.item {
        width: 45.5vw;
        margin-right: 3vw;
        height: 50%; }
        .wrapper2 .section .section2 div.item div.son1 {
          height: 75%;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative; }
          .wrapper2 .section .section2 div.item div.son1 img {
            height: 100%; }
          .wrapper2 .section .section2 div.item div.son1 div.grandSon {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper2 .section .section2 div.item div.son1 div.grandSon span {
              color: #fff;
              font-family: AdobeHeitiStd-Regular;
              font-size: 50px; }
        .wrapper2 .section .section2 div.item div.son2 {
          width: calc(100% - 30px);
          font-family: PingFang-SC-Regular;
          color: #fff;
          font-size: 25px;
          height: 25%;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center; }
    .wrapper2 .section .section3 {
      height: 10%;
      font-family: PingFang-SC-Regular;
      text-align: center;
      font-size: 38px;
      color: #fff;
      display: flex;
      flex-direction: column; }
    .wrapper2 .section .section3::before {
      content: '';
      flex-grow: 1; }
    .wrapper2 .section .section4 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper2 .section .section4 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper2 .section .section4 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper2 .section .section4 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper2 .section .section4 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper2 .section .section4 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }
        .wrapper2 .section .section4 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }

.wrapper3 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper3 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper3 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper3 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper3 .section {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper3 .section .section1 {
      height: 10%;
      display: flex;
      align-items: center; }
      .wrapper3 .section .section1 .navInfo {
        height: 40%;
        font-family: ZhenyanGB-Regular;
        font-size: 58px;
        color: #fff;
        display: flex;
        align-items: center; }
        .wrapper3 .section .section1 .navInfo span:nth-child(1) {
          margin: 0 20px; }
          .wrapper3 .section .section1 .navInfo span:nth-child(1) img {
            height: 46px; }
    .wrapper3 .section .section2 {
      height: 80%;
      position: relative; }
      .wrapper3 .section .section2 .section2Wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background: #191e30;
        display: flex;
        flex-direction: column; }
        .wrapper3 .section .section2 .section2Wrapper li {
          height: 11%;
          display: flex;
          align-items: center; }
          .wrapper3 .section .section2 .section2Wrapper li div:nth-child(1) {
            width: 15%;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper3 .section .section2 .section2Wrapper li div:nth-child(1) img {
              height: 115px;
              background: #133144; }
          .wrapper3 .section .section2 .section2Wrapper li div:nth-child(2) {
            width: 85%;
            display: flex;
            flex-direction: column;
            color: #fff; }
            .wrapper3 .section .section2 .section2Wrapper li div:nth-child(2) span:nth-child(1) {
              font-family: PingFang-SC-Regular;
              font-size: 42px; }
            .wrapper3 .section .section2 .section2Wrapper li div:nth-child(2) span:nth-child(2) {
              font-family: PingFang-SC-Regular;
              letter-spacing: 0.1em;
              font-size: 29px; }
    .wrapper3 .section .section3 {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper3 .section .section3 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper3 .section .section3 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper3 .section .section3 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper3 .section .section3 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }
        .wrapper3 .section .section3 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper3 .section .section3 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }

.wrapper4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper4 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper4 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper4 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper4 .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper4 .section .section1 {
      height: 10%;
      display: flex;
      font-family: ZhenyanGB-Regular;
      font-size: 58px;
      color: #fff;
      display: flex;
      align-items: center; }
      .wrapper4 .section .section1 span:nth-child(1) {
        margin: 0 20px; }
        .wrapper4 .section .section1 span:nth-child(1) img {
          height: 46px; }
    .wrapper4 .section .section2 {
      height: 70%;
      position: relative; }
      .wrapper4 .section .section2 .section2Wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 108%;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .wrapper4 .section .section2 .section2Wrapper .s2part1 {
          height: 56%;
          width: 100%; }
          .wrapper4 .section .section2 .section2Wrapper .s2part1 .title {
            height: 15%;
            font-family: AdobeHeitiStd-Regular;
            font-size: 42px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper4 .section .section2 .section2Wrapper .s2part1 .title span:nth-child(2) {
              margin: 0 0.5em; }
          .wrapper4 .section .section2 .section2Wrapper .s2part1 .content {
            height: 85%;
            padding-left: 3vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; }
            .wrapper4 .section .section2 .section2Wrapper .s2part1 .content div.item {
              width: 45.5vw;
              margin-right: 3vw;
              height: 50%;
              overflow: hidden; }
              .wrapper4 .section .section2 .section2Wrapper .s2part1 .content div.item div.son1 {
                height: 75%;
                width: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center; }
                .wrapper4 .section .section2 .section2Wrapper .s2part1 .content div.item div.son1 img {
                  height: 100%; }
              .wrapper4 .section .section2 .section2Wrapper .s2part1 .content div.item div.son2 {
                width: calc(100% - 30px);
                font-family: PingFang-SC-Regular;
                color: #fff;
                font-size: 33px;
                height: 25%;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center; }
        .wrapper4 .section .section2 .section2Wrapper .s2part2 {
          height: 44%;
          width: 100%; }
          .wrapper4 .section .section2 .section2Wrapper .s2part2 .title {
            height: 15%;
            font-family: AdobeHeitiStd-Regular;
            font-size: 42px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper4 .section .section2 .section2Wrapper .s2part2 .title span:nth-child(2) {
              margin: 0 0.5em; }
          .wrapper4 .section .section2 .section2Wrapper .s2part2 .content {
            height: 85%;
            padding-left: 3vw;
            display: flex;
            flex-direction: column; }
            .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line1 {
              height: 50%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center; }
              .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line1 div {
                display: flex;
                flex-direction: column;
                margin: 0 50px;
                height: 80%;
                width: 124px; }
                .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line1 div img {
                  width: 124px; }
                .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line1 div span {
                  font-family: PingFang-SC-Regular;
                  font-size: 38px;
                  flex-grow: 1;
                  color: #fff;
                  display: flex;
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center; }
            .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line2 {
              margin-top: -30px;
              height: 50%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center; }
              .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line2 div {
                display: flex;
                flex-direction: column;
                margin: 0 50px;
                height: 80%;
                width: 124px; }
                .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line2 div img {
                  width: 124px; }
                .wrapper4 .section .section2 .section2Wrapper .s2part2 .content .line2 div span {
                  font-family: PingFang-SC-Regular;
                  font-size: 38px;
                  flex-grow: 1;
                  color: #fff;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  justify-content: center; }
    .wrapper4 .section .section3 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper4 .section .section3 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper4 .section .section3 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper4 .section .section3 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper4 .section .section3 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper4 .section .section3 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }
        .wrapper4 .section .section3 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }

.wrapper5 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper5 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper5 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper5 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper5 .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper5 .section .section1 {
      height: 10%;
      display: flex;
      font-family: ZhenyanGB-Regular;
      font-size: 58px;
      color: #fff;
      display: flex;
      align-items: center; }
      .wrapper5 .section .section1 span:nth-child(1) {
        margin: 0 20px; }
        .wrapper5 .section .section1 span:nth-child(1) img {
          height: 46px; }
    .wrapper5 .section .section2 {
      height: 15%;
      margin: 0 20px 30px 20px;
      background-color: rgba(15, 23, 37, 0.72);
      display: flex;
      flex-direction: column;
      color: #fff; }
      .wrapper5 .section .section2 .s2p1 {
        height: 23%;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .wrapper5 .section .section2 .s2p2 {
        height: 19%;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper5 .section .section2 .s2p2 span {
          box-shadow: inset 0px 0px 5px 5px rgba(43, 58, 96, 0.8);
          padding: 5px 50px;
          border-radius: 10px; }
      .wrapper5 .section .section2 .s2p3 {
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 33px; }
        .wrapper5 .section .section2 .s2p3 .info1 {
          width: 166px;
          height: 80%;
          position: relative;
          left: -20px;
          top: 50%;
          border-radius: 10px;
          padding: 5px 50px;
          background-color: #2c56fe;
          display: flex;
          align-items: center;
          justify-content: center; }
        .wrapper5 .section .section2 .s2p3 .line1 {
          width: 200px;
          height: 100%;
          border-right: 3px solid #3f434d;
          border-bottom: 3px solid #3f434d; }
        .wrapper5 .section .section2 .s2p3 .line2 {
          width: 110px; }
        .wrapper5 .section .section2 .s2p3 .line3 {
          width: 200px;
          height: 100%;
          border-left: 3px solid #3f434d;
          border-bottom: 3px solid #3f434d;
          position: relative; }
          .wrapper5 .section .section2 .s2p3 .line3 .extraInfo {
            position: absolute;
            background-color: #3f434d;
            border-radius: 10px;
            font-size: 20px;
            padding: 2px 10px;
            left: -10%;
            bottom: -30%; }
        .wrapper5 .section .section2 .s2p3 .info2 {
          width: 166px;
          height: 80%;
          position: relative;
          left: 20px;
          top: 50%;
          border-radius: 10px;
          padding: 0px 50px;
          white-space: nowrap;
          background-color: #2c56fe;
          display: flex;
          align-items: center;
          justify-content: center; }
      .wrapper5 .section .section2 .s2p4 {
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 33px; }
        .wrapper5 .section .section2 .s2p4 .info1 {
          width: 166px; }
        .wrapper5 .section .section2 .s2p4 .line1 {
          width: 60px;
          height: 100%; }
        .wrapper5 .section .section2 .s2p4 .line2 {
          width: 390px; }
        .wrapper5 .section .section2 .s2p4 .line3 {
          width: 60px;
          height: 100%;
          border-left: 3px solid #3f434d;
          border-bottom: 3px solid #3f434d; }
        .wrapper5 .section .section2 .s2p4 .info2 {
          width: 166px;
          height: 80%;
          white-space: nowrap;
          position: relative;
          left: 20px;
          top: 50%;
          border-radius: 10px;
          padding: 0px 50px;
          background-color: #2c56fe;
          display: flex;
          align-items: center;
          justify-content: center; }
      .wrapper5 .section .section2 .s2p5 {
        height: 22%; }
    .wrapper5 .section .section3 {
      height: 55%;
      margin: 0 20px;
      position: relative; }
      .wrapper5 .section .section3 .section3Wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 110%;
        width: 100%;
        background-color: rgba(15, 23, 37, 0.72);
        color: #fff; }
        .wrapper5 .section .section3 .section3Wrapper .s3p1 {
          height: 7%;
          font-family: AdobeHeitiStd-Regular;
          font-size: 42px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .wrapper5 .section .section3 .section3Wrapper .s3p2,
        .wrapper5 .section .section3 .section3Wrapper .s3p3,
        .wrapper5 .section .section3 .section3Wrapper .s3p4 {
          height: 31%;
          display: flex;
          flex-direction: column; }
          .wrapper5 .section .section3 .section3Wrapper .s3p2 .title,
          .wrapper5 .section .section3 .section3Wrapper .s3p3 .title,
          .wrapper5 .section .section3 .section3Wrapper .s3p4 .title {
            display: flex;
            align-items: center; }
            .wrapper5 .section .section3 .section3Wrapper .s3p2 .title .tipIcon,
            .wrapper5 .section .section3 .section3Wrapper .s3p3 .title .tipIcon,
            .wrapper5 .section .section3 .section3Wrapper .s3p4 .title .tipIcon {
              height: 30px;
              width: 10px;
              background-color: #2d5de7;
              margin: 0 20px; }
            .wrapper5 .section .section3 .section3Wrapper .s3p2 .title .tipInfo,
            .wrapper5 .section .section3 .section3Wrapper .s3p3 .title .tipInfo,
            .wrapper5 .section .section3 .section3Wrapper .s3p4 .title .tipInfo {
              font-family: AdobeHeitiStd-Regular;
              font-size: 34px; }
          .wrapper5 .section .section3 .section3Wrapper .s3p2 .content,
          .wrapper5 .section .section3 .section3Wrapper .s3p3 .content,
          .wrapper5 .section .section3 .section3Wrapper .s3p4 .content {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper5 .section .section3 .section3Wrapper .s3p2 .content .contentWrapper,
            .wrapper5 .section .section3 .section3Wrapper .s3p3 .content .contentWrapper,
            .wrapper5 .section .section3 .section3Wrapper .s3p4 .content .contentWrapper {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              width: 100%; }
              .wrapper5 .section .section3 .section3Wrapper .s3p2 .content .contentWrapper .item,
              .wrapper5 .section .section3 .section3Wrapper .s3p3 .content .contentWrapper .item,
              .wrapper5 .section .section3 .section3Wrapper .s3p4 .content .contentWrapper .item {
                width: 7.5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: AdobeHeitiStd-Regular;
                font-size: 21px; }
                .wrapper5 .section .section3 .section3Wrapper .s3p2 .content .contentWrapper .item span:nth-child(2),
                .wrapper5 .section .section3 .section3Wrapper .s3p3 .content .contentWrapper .item span:nth-child(2),
                .wrapper5 .section .section3 .section3Wrapper .s3p4 .content .contentWrapper .item span:nth-child(2) {
                  line-height: 1;
                  width: 1.5em;
                  position: relative; }
                .wrapper5 .section .section3 .section3Wrapper .s3p2 .content .contentWrapper .item span.extra:nth-child(2)::after,
                .wrapper5 .section .section3 .section3Wrapper .s3p3 .content .contentWrapper .item span.extra:nth-child(2)::after,
                .wrapper5 .section .section3 .section3Wrapper .s3p4 .content .contentWrapper .item span.extra:nth-child(2)::after {
                  content: '合作单';
                  line-height: 1;
                  width: 1.5em;
                  position: absolute;
                  z-index: 1;
                  top: 1.5em;
                  right: -1.2em; }
              .wrapper5 .section .section3 .section3Wrapper .s3p2 .content .contentWrapper .rightArrow,
              .wrapper5 .section .section3 .section3Wrapper .s3p3 .content .contentWrapper .rightArrow,
              .wrapper5 .section .section3 .section3Wrapper .s3p4 .content .contentWrapper .rightArrow {
                align-self: center;
                width: 7.5%;
                display: flex;
                align-items: center;
                justify-content: center; }
    .wrapper5 .section .section4 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper5 .section .section4 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper5 .section .section4 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper5 .section .section4 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper5 .section .section4 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper5 .section .section4 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }
        .wrapper5 .section .section4 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }

.wrapper6 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper6 .header {
    height: 5%;
    background: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper6 .header div span {
      font-family: AdobeHeitiStd-Regular;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #000000; }
    .wrapper6 .header div:nth-child(3) span {
      letter-spacing: -3px; }
  .wrapper6 .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .wrapper6 .section .section1 {
      height: 10%;
      display: flex;
      font-family: ZhenyanGB-Regular;
      font-size: 58px;
      color: #fff;
      display: flex;
      align-items: center; }
      .wrapper6 .section .section1 span:nth-child(1) {
        margin: 0 20px; }
        .wrapper6 .section .section1 span:nth-child(1) img {
          height: 46px; }
    .wrapper6 .section .section2 {
      height: 70%;
      margin: 0 20px 20px;
      display: flex;
      flex-direction: column;
      color: #fff;
      position: relative; }
      .wrapper6 .section .section2 .section2Wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(15, 23, 37, 0.72);
        width: 100%;
        height: 106%; }
        .wrapper6 .section .section2 .section2Wrapper .s2p1 {
          height: 22%;
          display: flex;
          flex-direction: column; }
          .wrapper6 .section .section2 .section2Wrapper .s2p1 div {
            font-size: 42px;
            display: flex;
            align-items: center;
            justify-content: center; }
          .wrapper6 .section .section2 .section2Wrapper .s2p1 ul {
            flex-grow: 1;
            display: flex; }
            .wrapper6 .section .section2 .section2Wrapper .s2p1 ul li {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-family: ZhenyanGB-Regular;
              font-size: 42px; }
              .wrapper6 .section .section2 .section2Wrapper .s2p1 ul li img {
                height: 111px; }
        .wrapper6 .section .section2 .section2Wrapper .s2p2 {
          height: 78%; }
          .wrapper6 .section .section2 .section2Wrapper .s2p2 ul {
            height: 100%;
            width: 100%; }
            .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li {
              height: 16%;
              display: flex;
              align-items: center;
              justify-content: center; }
              .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div {
                height: 65%;
                width: 90%;
                background-color: rgba(36, 46, 86, 0.59);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between; }
                .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div span:nth-of-type(1) {
                  font-size: 33px;
                  letter-spacing: -1px; }
                .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div span:nth-of-type(2) {
                  font-size: 33px;
                  letter-spacing: -1px; }
                .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div img:nth-of-type(1) {
                  margin: 0 20px;
                  z-index: 1;
                  height: 31px; }
                .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div img:nth-of-type(2) {
                  height: 135%; }
                .wrapper6 .section .section2 .section2Wrapper .s2p2 ul li div img:nth-of-type(3) {
                  justify-self: flex-end;
                  margin: 0 20px;
                  height: 34px; }
    .wrapper6 .section .section3 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrapper6 .section .section3 div:nth-child(1) img {
        height: 80px;
        margin-right: 20px; }
      .wrapper6 .section .section3 div:nth-child(2) {
        width: 12em;
        font-size: 42px;
        color: #fff;
        display: flex;
        flex-direction: column; }
        .wrapper6 .section .section3 div:nth-child(2) span {
          font-size: 42px;
          line-height: 1;
          height: 1em;
          overflow: hidden;
          text-align: justify; }
        .wrapper6 .section .section3 div:nth-child(2) div.space {
          height: 15px; }
        .wrapper6 .section .section3 div:nth-child(2) span:nth-child(3) {
          font-size: 22px; }
        .wrapper6 .section .section3 div:nth-child(2) span::after {
          content: '';
          display: inline-block;
          width: 100%; }

/*# sourceMappingURL=index.css.map */
